

<h3>Add Nameserver</h3>

<%= simple_form_for @domain_host do |f| %>
  <% if @domain_host.errors.any? %>
  <div id="warning" class="alert alert-warning">
    Some information is missing or incorrect.  Please check your entries and try again.
  </div>

  <% end %>
  <%= f.hidden_field :domain_id, value: @domain_id %>
  <div id="nameserver-info">
    <div>
      <label>Name</label>
      <div>
        <%= f.input :name, label: false, class: "form-control" %>
      </div>
    </div>
  </div>
  <br>
  <div class="edit-update">
    <%= f.submit 'Add Domain Host', id: :submit %>
    <%= link_to 'Cancel', domain_path(@domain_id), class: 'btn btn-sm btn-danger' %>
  </div>

<% end %>