<% content_for :banner_title do %>
  <%= fa_icon 'server lg' %>&nbsp;Add Nameserver
    <% unless current_user.admin %>
      <span><%= @domain_count %></span>
    <% end %>
<% end %>
<h3 class="text-primary"><%= @domain_name %></h3>
<%= simple_form_for @domain_host do |f| %>
  <% if @domain_host.errors.any? %>
    <div id="warning" class="alert alert-warning">
      Some information is missing or incorrect.  Please check your entries and try again.
    </div>
  <% end %>
  <%= f.hidden_field :domain_id, value: @domain_id %>
  <div id="nameserver-info">
    <div>
      <label>Name</label>
      <div>
        <%= f.input :name, label: false, class: "form-control", input_html: {"data-domain": @domain_name} %>
      </div>
    </div>
    <div class="nameserver-ipv4">
      <label>IPv4</label>
      <div>
        <div class="form-group">
          <%= text_field_tag "ipv4[0]", nil, class: "form-control domain-host-ipv4-field", placeholder: "Enter IP Address" %>
        </div>
        <a class="btn btn-primary btn-sm btn-add-domain-host-ipv4">
          <i class="fa fa-plus"></i>
          <span class=""> Add More</span>
        </a>
      </div>
    </div>
    <div class="moreIPV4">
    </div>
    <div class="nameserver-ipv6">
      <label>IPv6</label>
      <div>
        <div class="form-group">
          <%= text_field_tag "ipv6[0]", nil, class: "form-control domain-host-ipv6-field", placeholder: "Enter IP Address" %>
        </div>
        <a class="btn btn-primary btn-sm btn-add-domain-host-ipv6">
          <i class="fa fa-plus"></i>
          <span class=""> Add More</span>
        </a>
      </div>
    </div>
    <div class="moreIPV6">
    </div>
  </div>
  <br>
  <div class="edit-update">
    <%= f.submit 'Add Domain Host', id: :submit %>
    <%= link_to 'Cancel', domain_path(@domain_id), class: 'btn btn-sm btn-danger' %>
  </div>
<% end %>