<style type="text/css">
.pull-right{ margin-top: 0px;}
header, footer {
    display: none;
    visibility: hidden;
}
.container{
  margin: 25px auto;
  font-size: small;
}
h3 {
  margin-top: 0px;
}
#invoice-header {
  display: inline;
  text-align: right;
}
#invoice-header img {
  display: block;
  margin-left: 1px;
  margin-bottom: -100px;
  width: 140px;
}
.spacer {
    height: 8px;
}
table.well tr th:last-child,table.well tr td:last-child {text-align: right}
table.well th {background-color: #eee;color: #333;}
table.well tfoot td{background-color: #F5F5F5;color: #333; font-size: 16px; font-weight: bold}
@media print {
  table.well{
    background-color: #f5f5f5!important;
    border: 1px solid #e3e3e3!important;
    border-radius: 4px!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)!important;
  }
  .table td,    .table th {
            background-color: inherit !important;
    }
  *, *:before, *:after {
    color:inherit !important;
    background-color:inherit !important;
    -webkit-print-color-adjust: exact!important;
  }
  html, body { overflow: hidden; }
  .container {
    width: auto!important;
  }
  html {
    margin: 0;
    padding: 0;
  }
  body{margin-bottom: 0!important;}
  header, footer {
    display: none;
    visibility: hidden;
  }
  section:last-child{
    page-break-after: avoid!important;
  }
}
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <div id="invoice-header">
        <div>
          <%= image_tag Rails.configuration.invoice_logo, alt: "Brand" %>
        </div>
        <div>
      <address>
        <strong><%= Rails.configuration.invoice_organization_name %></strong><br>
        <%= Rails.configuration.invoice_address1 %><br>
        <%= Rails.configuration.invoice_address2 %><br>
        <%= Rails.configuration.invoice_address3 %><br>
        <i class="fa fa-phone"></i> <%= Rails.configuration.invoice_phone %>
      </address>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class=" col-xs-12">
      <div class="pull-right"><%= Time.now.strftime("%B %d, %Y") %></div>
      <div>Juan Dela Cruz</div>
      <div>JDC Corporation</div>
      <div>Jollibee Plaza, F.Ortigas Jr. Road</div>
      <div>Pasig City, NCR</div>
      <div>1600, Philipppines</div>
    </div>
  </div>
  <div class="spacer"> </div>
  <div class="spacer"> </div>
  <div class="spacer"> </div>
  <div class="row">
    <div class=" col-xs-12">
      <div><b>Invoice #</b> 123456789</div>
      <div><b>Partner ID</b> <%= current_user.partner_name.downcase %></div>
    </div>
  </div>
  <div class="spacer"> </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="row">
  <div class="col-xs-12 ">
    <p><strong>Invoice Period:</strong> 2016-07-01 to 2016-07-31<br>For domains in the above mentioned period we charge as follows:</p>
    <div class="table-responsive">
      <table class="table table-hover well table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Domain</th>
            <th>Type</th>
            <th>Term</th>
            <th>Amount ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2016-07-28 06:10:58 UTC</td>
            <td>domain.com.ph</td>
            <td>Registration</td>
            <td>2 years</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>2016-07-28 06:10:58 UTC</td>
            <td>domain.ph</td>
            <td>Registration</td>
            <td>2 years</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>2016-07-28 06:10:58 UTC</td>
            <td>domain.net.ph</td>
            <td>Registration</td>
            <td>2 years</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>2016-07-28 06:10:58 UTC</td>
            <td>domain.org.ph</td>
            <td>Registration</td>
            <td>2 years</td>
            <td>$70.00</td>
          </tr>
          <tr>
            <td>2016-07-28 06:10:58 UTC</td>
            <td>domains.com.ph</td>
            <td>Registration</td>
            <td>2 years</td>
            <td>$70.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>TOTAL</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$3,500.00</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="col-xs-12">

  </div>
  <div class="spacer"></div>
  <div class="col-xs-12 hidden-print text-center "><hr>
     <a class="btn btn-primary btn-sm" href="javascript:window.print()">Print Monthly Summary</a>&nbsp;
     <a class="btn btn-default btn-sm" href="javascript:window.close()">Close</a>
  </div>
</div>
</div>
</div>