<% content_for :banner_title do %>
  <%= fa_icon 'file lg' %>&nbsp;Transaction
<% end %>
 <div id="transaction-page-paypal">
  <table id="credits">
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount ($)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Top-up Amount</td>
        <td><%= @amount.format %></td>
      </tr>
      <tr>
        <td>Transaction Fee</td>
        <td><%= @transaction_fee.format %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL</td>
        <td id="replenish_total" data-value="<%= @total.cents %>" data-credit="<%= @amount.cents %>"><%= @total.format %></td>
      </tr>
    </tfoot>
  </table>
  <%= link_to "PAY NOW", paypal_setup_payment_path(:amount => @total.format({:symbol => '', :thousands_separator => ''})), class: "btn btn-success pull-right" %>
<%
#   < %= javascript_include_tag Rails.configuration.checkout_script % >
#  <form id="payment_form" method="POST">
#  </form>
 %>
</div>
