<% content_for :banner_title do %>
<%= fa_icon 'gears lg' %>&nbsp;Domains <% unless current_user.admin %><span><%= @hosts.count %></span><% end %>
<% end %>

<div id="table">
  <table id="hosts">
    <thead>
      <tr>
        <th></th>
        <th>Host</th>
        <th>Partner</th>
        <th>Addresses</th>
      </tr>
    </thead>
    <tbody>
      <% @hosts.each do |host| %>
      <tr>
        <td></td>
        <td><%= link_to host.name, host_url(host.id) %></td>
        <td><%= host.partner %></td>
        <td>
          <ul>
          <% host.host_addresses.each do |address| %>
            <li>
              <%= address.address%>
            </li>
          <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
