<p>Dear <%= @partner.name %>,</p>

<p>We would like to inform you that your top-up transaction has been accepted.</p>

<p>
Top-up Amount: <%= @amount.format %><br>
Transaction Fee: <%= @transaction_fee.format %><br>
</p>
<p>Total: <%= @total.format %></p>

<p>View and print your receipt at: <%= link_to receipt_url(id: @credit.credit_number), receipt_url(id: @credit.credit_number)  %></p>

<p>Thank you.</p>

<p>
Best regards,<br><br>
dotPH<br>
www.dot.ph<br>
</p>