<% if type == "button" %>
  <% if action == "register" %>
    <div class="btn btn-primary disabled" style="background-color: gray !important;
      margin-left: 130px; margin-top: 15px; padding-top: 8px; padding-bottom: 7px;">
      <%= message %>
    </div>
  <% elsif action == "transfer" %>
    <div class="btn btn-primary disabled" style="background-color: gray !important;
      margin-left: 5px; margin-top: 15px; padding-top: 10px; width: 150px">
      <%= message %>
    </div>
  <% elsif action == "domain_show" %>
    <div class="btn btn-primary disabled" style="background-color: gray !important; margin-right: 0px;">
      <%= message %>
    </div>
  <% else %>
    <div class="btn btn-primary disabled" style="background-color: gray !important; margin-bottom: 5px;">
      <%= message %>
    </div>
  <% end %>
<% else %>
  <%= message %>
<% end %>
