<div role="navigation" id="navbar">
  <div>
    <div>
        <button data-target=".navbar-collapse" data-toggle="collapse"  type="button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <%= link_to root_path do %>
        <%= image_tag 'pc-logo.png', width: 55 %>
        <% end %>
    </div>
    <nav>
      <h2 class="sr-only">Navigation</h2>
      <div class="navbar-collapse collapse" data-no-turbolink>
        <ul>
          <% if user_signed_in? and current_user.admin %>
            <li class="<%= 'active' if params[:controller] == 'domains' %>"><%= link_to 'Domains', domains_path %></li>
            <li class="<%= 'active' if params[:controller] == 'hosts' %>"><%= link_to 'Hosts', hosts_path %></li>
            <li class="<%= 'active' if params[:controller] == 'contacts' %>"><%= link_to 'Contacts', contacts_path %></li>
            <li class="<%= 'active' if params[:controller] == 'partners' %>"><%= link_to 'Partners', partners_path %></li>
            <li class="<%= 'active' if params[:controller] == 'orders' %>"><%= link_to 'Orders', orders_path, id: :menu_orders %></li>
            <li class="<%= 'active' if params[:controller] == 'activities' %>"><%= link_to 'Activities', activities_path, id: :menu_activities  %></li>
          <% elsif user_signed_in? %>
            <li class="<%= 'active' if params[:controller] == 'domains' %>"><%= link_to 'Domains', domains_path %></li>
            <li class="<%= 'active' if params[:controller] == 'reports' %>"><%= link_to 'Reports', reports_path, id: 'orders' %></li>
          <% else %>
            <li><%= link_to 'Code of Conduct', coc_about_index_path %></li>
            <li><%= link_to 'Service Agreement', sa_about_index_path %></li>
          <% end %>

          </ul>
          <ul class="navbar-right">
            <% if user_signed_in? %>
            <li class="nb">
            <%= form_tag '/domains/paginated', method: 'get', remote: true, class: 'search-bar navbar-form navbar-left' do %>
              <div class="form-group">
                <% if current_user.admin %>
                  <%= text_field_tag :search, nil, class: 'form-control sm', placeholder: "Search" %>
                <% end %>
                <% unless current_user.admin %>
                  <%= text_field_tag :search, nil, class: 'form-control lg', placeholder: "Search" %>
                <% end %>
              </div>
              <%= button_tag(type: "submit", class: "btn") do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            <% end %>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#">
                 <strong><%= current_user.partner_name.downcase %></strong>
                 <span></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <% unless current_user.admin %>
                  <li><%= link_to 'Profile Info', profile_index_path, id: :menu_partner_info %></li>
                  <li><%= link_to 'Code of Conduct', coc_about_index_path %></li>
                  <li><%= link_to 'Service Agreement', sa_about_index_path %></li>
                <% end %>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% unless current_user.admin %>
            <li id="current_balance" class="nolink">
              <span>Current Balance:</span><br>
                <%= number_to_currency current_user.credits %>
            </li>
            <% end %>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
          </ul>
          <% end %>
      </div>
    </nav>
  </div>
</div>
<% unless @welcome_page %>
<div role="banner" id="banner-title">
  <div>
    <div>
      <h3><%= yield :banner_title %></h3>
    </div>
    <% if user_signed_in? %>
        <div class="col-sm-7 <%= 'hidden' if params[:controller] == 'register'  %>, <%= 'hidden' if params[:controller] == 'checkout'  %>, <%= 'hidden' if params[:controller] == 'transfers'  %>">
          <% if current_user.epp_partner %>
            <%= create_display_only_button("button", "Register Domain +", "register") %>
          <% else %>
            <%= link_to register_path do%>
             Register Domain <i class="fa fa-plus-circle"></i>
            <% end %>
          <% end %>
          <% if false %> <!--%= hide the transfer button %-->
            <% if current_user.epp_partner %>
              <%= create_display_only_button("button", "Transfer Domain", "transfer") %>
            <% else %>
              <%= link_to new_transfer_path do %>
                Transfer Domain <i class="fa fa-arrow-circle-right"></i>
              <% end %>
              <!--%= link_to 'Transfer Domain', new_transfer_path %-->
            <% end %>
          <% end %>
          <!--%= link_to 'Replenish Account', checkout_index_path %-->
          <%= link_to checkout_index_path do %>
              Replenish Account <i class="fa fa-refresh"></i>
            <% end %>
        </div>
    <% end %>
  </div>
</div>
<% else %>
<div id="banner-container">
  <div>
    <h1>Become a Partner</h1>
    <p>Get <strong>big discounts</strong> on your PH domain purchases and <strong>earn maximum profits</strong>.</p>
    <ul>
      <li><%= fa_icon 'check-circle' %> No startup fees.</li>
      <li><%= fa_icon 'check-circle' %> No annual fees.</li>
      <li><%= fa_icon 'check-circle' %> No minimum monthly purchases.</li>
    </ul>
    <br>
    <a role="button" href="https://new.dot.ph/contactus">Contact Us</a>
  </div>
</div>
<% end %>
