<section id="partner_info">
  <div class="info-header">
    <h3>
      <span>Username:</span> <%= @partner.name %>
    </h3>
  </div>

  <p><strong>Current Balance:</strong> $ <%= @partner.credits %></p>
  <ul class="dm nav nav-tabs responsive" role="tablist">
    <li class="active"><a href="#pinfo" role="tab" data-toggle="tab">Profile Info</a></li>
    <li><a href="#pns" role="tab" data-toggle="tab">Name Server Info</a></li>
    <li><a href="#pricing_tab" role="tab" data-toggle="tab">Pricing</a></li>
  </ul>
  <div class="tab-content">
    <%= render "profile/partner_info"%>
    <%= render "profile/partner_nameserver"%>
    <%= render "profile/partner_pricing"%>
  </div>
</section>
