<section id="partner_info">
  <div class="info-header">
    <h3>
    <%= link_to partners_path, :class => 'btn btn-default btn-xs back-btn' do %>
      <i class="fa fa-chevron-left"></i>
    <% end %>
    <%= @partner.name %></h3>
  </div>

  <p><strong>Current Balance:</strong> $ <%= @partner.credits %></p>
  <ul class="dm nav nav-tabs responsive" role="tablist">
    <li class="active"><a href="#pinfo" role="tab" data-toggle="tab">Profile Info</a></li>
    <li><a href="#pns" role="tab" data-toggle="tab">Name Server Info</a></li>
    <li><a href="#pricing_tab" role="tab" data-toggle="tab">Pricing</a></li>
  </ul>
  <div class="tab-content">
    <div class="active" id="pinfo"><br>
      <p class="pinfo-note">* This information is for Registry use only and will not be disclosed publicly.</p>
      <hr class="border-gray">
      <div class="pinfo-form-group">
        <div><!-- form-group -->
        <label>
          <%= fa_icon 'user' %> Username</label>
          <div class="inputfield"><%= @partner.name %></div>
        </div>
        <div><!-- form-group -->
          <label>
            <%= fa_icon 'users' %> Company Name</label>
          <div class="inputfield"><%= @partner.organization %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'link' %> Website</label>
          <div class="inputfield"><%= @partner.site %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'briefcase' %> Nature of Business</label>
          <div class="inputfield"><%= @partner.nature %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'user' %> Authorize Representative</label>
          <div class="inputfield"><%= @partner.representative %></div>
        </div>
        <div class="form-group ">
          <label><span>Position</span></label>
          <div class="inputfield"><%= @partner.position %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'home' %> Street</label>
          <div class="inputfield"><%= @partner.street %></div>
        </div>
        <div><!-- form-group -->
          <label><span>City</span></label>
          <div class="inputfield"><%= @partner.city %></div>
        </div>
        <div><!-- form-group -->
          <label><span>State/Province</span></label>
          <div class="inputfield"><%= @partner.state %></div>
        </div>
        <div><!-- form-group -->
          <label><span>Postal Code</span></label>
          <div class="inputfield"><%= @partner.postal_code %></div>
        </div>
        <div><!-- form-group -->
          <label><span>Country</span></label>
          <div class="inputfield"><%= @partner.country_code %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'phone' %> Telephone</label>
          <div class="inputfield"><%= @partner.phone %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'fax' %> Fax</label>
          <div class="inputfield"><%= @partner.fax %></div>
        </div>
        <div><!-- form-group -->
          <label><%= fa_icon 'envelope' %> Email</label>
          <div class="inputfield"><%= @partner.email %></div>
        </div>
      </div>
    </div>
    <div id="pns">
      <br>
      <table id="default_nameservers">
        <thead>
          <tr>
            <th>Nameservers</th>
          </tr>
        </thead>
        <tbody>
          <% @partner.default_nameservers.each do |default_nameserver| %>
          <tr>
            <td><%= default_nameserver.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="pricing_tab">
      <br>
      <table id="pricing">
        <thead>
          <tr>
            <th>Description</th>
            <th>Period</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @partner.pricing.each do |partner_price| %>
          <tr>
            <td><%= order_detail_type partner_price.action %></td>
            <td><%= partner_price.period %></td>
            <td><%= number_to_currency partner_price.price %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
