<% content_for :banner_title do %>
<%= fa_icon 'shopping-cart lg' %>&nbsp;Orders
<% end %>

<div id="table">
  <table id="orders">
    <thead>
      <tr>
        <th>Date</th>
        <th>Order No.</th>
        <th>Partner</th>
        <th>Type</th>
        <th>Term</th>
        <th>Domain</th>
        <th>Status</th>
        <th>Amount ($)</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <% order.order_details.each do |order_detail| %>
      <tr>
        <td><%= formatted_timestamp order.ordered_at %></td>
        <td><%= order.order_number %></td>
        <td><%= link_to order.partner, partner_url(order.partner) %></td>
        <td><%= order_detail_type order_detail.type %></td>
        <td><%= order_detail.period %></td>
        <% if order.status == 'complete' %>
          <td><%= domain_for order_detail %></td>
        <% else %>
          <td><%= order_detail.object.name %></td>
        <% end %>

        <% if order.complete? == true %>
        <td class="order-status"><i class="fa fa-circle green" data-toggle="tooltip" data-placement="top" title="Complete"></i></td>

        <% elsif order.pending? == true %>
        <td class="order-status"><i class="fa fa-clock-o orange" data-toggle="tooltip" data-placement="top" title="Pending"></i></td>

        <% elsif order.error? == true %>
        <td class="order-status"><i class="fa fa-circle red" data-toggle="tooltip" data-placement="top" title="Error"></i></td>
        <% end %>

        <td><%= number_to_currency(order_detail.price) %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
