<% content_for :banner_title do %>
<%= fa_icon 'gears lg' %>&nbsp;Contacts <% unless current_user.admin %><span><%= @domains.count %></span><% end %>
<% end %>

<div id="table">
  <table id="contacts">
    <thead>
      <tr>
        <th></th>
        <th>Handle</th>
        <th>Name</th>
        <th>Organization</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
      <tr>
        <td></td>
        <td><%= contact.handle %></td>
        <td><%= contact.name %></td>
        <td><%= contact.organization %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
