<% content_for :banner_title do %>
<%= fa_icon 'pencil-square-o lg' %>&nbsp;Add Contact
<% end %>

<div id="domain_info">
  <h3 id="head">Admin Contact for <span class="text-primary"><%= @domain.name %></span></h3>
  <% if @contact.errors.messages.any? %>
  <div id="warning" class="alert alert-warning">
    Some information is missing or incorrect.  Please check your entries and try again.
  </div>
  <% end %>

  <%= simple_form_for @contact do |f| %>
    <%= hidden_field_tag :domain_id, @domain.id %>
    <%= hidden_field_tag :type, @type %>
    <div id="new-info">
      <div class="info-l10n">
        <label class=""></label>
      </div>
      <div><!-- form-group -->
        <label><%= fa_icon 'users' %> Name</label>
        <div class="inputfield">
          <div><%= f.input :local_name, label: false, placeholder: 'Name' %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label><%= fa_icon 'users' %> Organization</label>
        <div class="inputfield">
          <div><%= f.input :local_organization, label: false, placeholder: 'Organization' %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label><%= fa_icon 'home' %> Street</label>
        <div class="inputfield">
          <div><%= f.input :local_street, label: false, placeholder: 'Street'  %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label class="hidden-xs">&nbsp;</label>
        <div class="inputfield">
          <div><%= f.input :local_street2, placeholder: 'Street 2', label: false %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label class="hidden-xs">&nbsp;</label>
        <div class="inputfield">
          <div><%= f.input :local_street3, placeholder: 'Street 3', label: false %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label><span>City</span></label>
        <div class="inputfield">
          <div><%= f.input :local_city, label: false, placeholder: 'City'  %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label><span>State/Province</span></label>
        <div class="inputfield">
          <div><%= f.input :local_state, label: false, placeholder: 'State/Province'  %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label><span>Postal Code</span></label>
        <div class="inputfield">
          <div><%= f.input :local_postal_code, label: false, placeholder: 'Postal Code'  %></div>
        </div>
      </div>
      <div><!-- form-group -->
        <label><span>Country</span></label>
        <div class="inputfield">
          <div><%= f.input :local_country_code, priority: ['PH', 'US'], include_blank: true, label: false, placeholder: 'Select a Country'  %></div>
        </div>
      </div>
      <div class="domain-info-num"><!-- form-group -->
        <label><%= fa_icon 'phone-square' %> Telephone </label>
        <div class="inputfield">
          <%= f.input :voice, label: false, placeholder: 'Telephone'  %>
          <span class="text-muted">ext.</span>
          <%= f.input :voice_ext, label: false %>
        </div>
      </div>
      <div class="domain-info-num"><!-- form-group -->
        <label><%= fa_icon 'fax', placeholder: 'Fax'  %> Fax </label>
        <div class="inputfield">
          <%= f.input :fax, label: false %>
          <span class="text-muted">ext.</span>
          <%= f.input :fax_ext, label: false %>
        </div>
      </div>
      <div class="domain-info-num"><!-- form-group -->
        <label><%= fa_icon 'envelope', placeholder: 'Email'  %> Email</label>
        <div class="inputfield">
          <%= f.input :email, label: false %>
        </div>
      </div>
      <hr>
    </div>
    <br>
    <div class="register-btn">
      <%= f.submit value: 'Create Contact'  %>
      <%= link_to 'Cancel', domain_path(@domain.name) %>
    </div>
  <% end %>
</div>