<hr>
<%= form_for contact, url: contact_path(contact.handle), html: {method: 'patch'} do |f| %>
  <%= f.hidden_field :domain, value: @domain.id %>
  <div id="domain-info">
    <div class="info-l10n">
      <label class=""></label>
      <div class=""><strong>International</strong></div>
      <div class=""><strong>Local</strong></div>
    </div>
    <div><!-- form-group -->
      <label><%= fa_icon 'user' %> Name</label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :name %></div>
        <div>Local</div>
        <div><%= f.text_field :local_name %></div>
      </div>
    </div>
    <div><!-- form-group -->
      <label><%= fa_icon 'users' %> Organization </label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :organization %></div>
        <div>Local</div>
        <div><%= f.text_field :local_organization %></div>
        <span class="help-block" style="display:none"><small>Enter your name if you are not registering the domain on behalf of an organization</small></span>
      </div>
    </div>
    <div><!-- form-group -->
      <label><%= fa_icon 'home' %> Street </label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :street %></div>
        <div>Local</div>
        <div><%= f.text_field :local_street %></div>
      </div>
    </div>
    <% if contact.street2 or @domain.registrant.local_street2 %>
    <div><!-- form-group -->
      <label class="hidden-xs">&nbsp;</label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :street2 %></div>
        <div>Local</div>
        <div><%= f.text_field :local_street2 %></div>
      </div>
    </div>
    <% end %>
    <% if contact.street3 or @domain.registrant.local_street3 %>
    <div><!-- form-group -->
      <label class="hidden-xs">&nbsp;</label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :street3 %></div>
        <div>Local</div>
        <div><%= f.text_field :local_street3 %></div>
      </div>
    </div>
    <% end %>
    <div><!-- form-group -->
      <label><span>City</span></label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :city %></div>
        <div>Local</div>
        <div><%= f.text_field :local_city %></div>
      </div>
    </div>
    <div><!-- form-group -->
      <label><span>State/Province</span></label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :state %></div>
        <div>Local</div>
        <div><%= f.text_field :local_state %></div>
      </div>
    </div>
    <div><!-- form-group -->
      <label><span>Postal Code</span></label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :postal_code %></div>
        <div>Local</div>
        <div><%= f.text_field :local_postal_code %></div>
      </div>
    </div>
    <div><!-- form-group -->
      <label><span>Country</span></label>
      <div class="inputfield">
        <div>Int'l</div>
        <div><%= f.text_field :country_code %></div>
        <div>Local</div>
        <div><%= f.text_field :local_country_code %></div>
      </div>
    </div>
    <div><!-- form-group -->
      <label><%= fa_icon 'phone-square' %> Telephone </label>
      <div class="inputfield">
        <%= f.text_field :voice %><span class="help-block" style="display:none;"><small>e.g. +12.34567890</small></span>
        <span class="text-muted">ext.</span> <%= f.text_field :voice_ext %>
      </div>
      <div></div>
    </div>
    <div><!-- form-group -->
      <label><%= fa_icon 'fax' %> Fax </label>
      <div class="inputfield">
        <%= f.text_field :fax %><span class="help-block" style="display:none;"><small>e.g. +12.34567890</small></span>
        <span class="text-muted">ext.</span> <%=f.text_field :fax_ext %>
      </div>
      <div></div>
    </div>
    <div>
      <label><%= fa_icon 'envelope' %> Email </label>
      <div class="inputfield"><%= f.text_field :email %></div>
      <div></div>
    </div>
    <div><!-- form-group -->
      <label><%= fa_icon 'user-secret' %> Handle </label>
      <%= f.hidden_field :handle, value: contact.handle %>
      <div class="inputfield"><%= contact.handle %></div>
      <div></div>
    </div>
  </div>
  <%= f.submit 'Update' %>
<% end %>
