<% @domains.each do |domain| %>
  <% if domain.expired? %>
    <% tr_class = 'expire' %>
    <% original_title = 'This domain has expired. You should renew it now.' %>
  <% elsif domain.expiring? %>
    <% tr_class = 'expire' %>
    <% original_title = 'This domain is about to expire. You should renew it now.' %>
  <% else %>
    <% tr_class = '' %>
    <% original_title = '' %>
  <% end %>

  <tr class=<%= tr_class %>>
    <td>
      <input id="domain<%= domain.id %>" class="domain-list-checkbox"
        data-name=<%= domain.name%> type="checkbox"/>
      <label for="domain<%= domain.id %>"></label>
    </td>
    <% if domain.expired? %>
      <td><%= fa_icon 'flag', class: 'red', data: { placement: :left, toggle: :tooltip, original_title: 'Expired Domain' } %></td>
    <% elsif domain.expiring? %>
      <td><%= fa_icon 'flag', class: 'yellow', data: { placement: :left, toggle: :tooltip, original_title: 'Expiring Domain' } %></td>
    <% else %>
      <td></td>
    <% end %>
    <td class=<%= tr_class %>><%= link_to domain.name, domain_path(domain),
      data: { placement: :right, toggle: :tooltip, original_title: original_title },
      class: "index_domain_list", "data-domain_expires": {domain.name => formatted_date(domain.expires_at)}.to_json %></td>
    <% if current_user.admin %>
    <td><%= domain.partner %></td>
    <% end %>
    <td><%= formatted_date domain.registered_at %></td>
    <td><%= formatted_date domain.expires_at %></td>
    <td>
      <% if domain.renew_allowed? %>
        <% if current_user.epp_partner %>
          <%= create_display_only_button("link", "Renew") %>
        <% else %>
          <a href="#" class="btn-renew-link" data-toggle="modal" data-name=<%= domain.name %>
            data-target="#modal-renew" data-domain=<%= domain.id %>>
            Renew
          </a>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
