<div id="domain-info" class="info-static">
  <div class="info-l10n">
    <label class=""></label>
    <div class=""><strong>International</strong></div>
    <div class=""><strong>Local</strong></div>
  </div>
  <div><!-- form-group -->
    <label><%= fa_icon 'user' %> Name</label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.name %></div>
      <div class="contact-cat">Local</div>
      <div id="contact_local_name"><%= contact.local_name %></div>
    </div>
  </div>
  <div><!-- form-group -->
    <label><%= fa_icon 'users' %> Organization </label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.organization %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_organization %></div>
      <span class="help-block" style="display:none"><small>Enter your name if you are not registering the domain on behalf of an organization</small></span>
    </div>
  </div>
  <div><!-- form-group -->
    <label><%= fa_icon 'home' %> Street </label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.street %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_street %></div>
    </div>
  </div>
  <% if contact.street2 || @domain.try(:registrant).try(:local_street2) %>
  <div><!-- form-group -->
    <label class="hidden-xs">&nbsp;</label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.street2 %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_street2 %></div>
    </div>
  </div>
  <% end %>
  <% if contact.street3 ||  @domain.try(:registrant).try(:local_street3) %>
  <div><!-- form-group -->
    <label class="hidden-xs">&nbsp;</label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.street3 %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_street3 %></div>
    </div>
  </div>
  <% end %>
  <div><!-- form-group -->
    <label><span>City</span></label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.city %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_city %></div>
    </div>
  </div>
  <div><!-- form-group -->
    <label><span>State/Province</span></label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.state %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_state %></div>
    </div>
  </div>
  <div><!-- form-group -->
    <label><span>Postal Code</span></label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= contact.postal_code %></div>
      <div class="contact-cat">Local</div>
      <div><%= contact.local_postal_code %></div>
    </div>
  </div>
  <div><!-- form-group -->
    <label><span>Country</span></label>
    <div class="inputfield">
      <div class="contact-cat">Int'l</div>
      <div><%= Country[contact.country_code].try(:name) %></div>
      <div class="contact-cat">Local</div>
      <div><%= Country[contact.local_country_code].try(:name) %></div>
    </div>
  </div>
  <div class="domain-info-num"><!-- form-group -->
    <label><%= fa_icon 'phone-square' %> Telephone </label>
    <div class="inputfield">
      <%= contact.voice %><span class="help-block" style="display:none;"><small>e.g. +12.34567890</small></span>
      <% unless contact.voice_ext.blank? %>
      <span class="text-muted">ext.</span> <%=contact.voice_ext %>
      <% end %>
    </div>
    <div></div>
  </div>
  <div class="domain-info-num"><!-- form-group -->
    <label><%= fa_icon 'fax' %> Fax </label>
    <div class="inputfield">
      <div><%= contact.fax %></div>
      <span class="help-block" style="display:none;"><small>e.g. +12.34567890</small></span>
      <% unless contact.fax_ext.blank? %>
      <span class="text-muted">ext.</span> 
      <div><%=contact.fax_ext %></div>
      <% end %>
    </div>
    <div></div>
  </div>
  <div class="domain-info-num">
    <label><%= fa_icon 'envelope' %> Email </label>
    <div class="inputfield">
      <div><p><%= contact.email %></p></div>
    </div>
    <div></div>
  </div>
  <div class="domain-info-num"><!-- form-group -->
    <label><%= fa_icon 'user-secret' %> Handle </label>
    <div class="inputfield">
      <div><p><%= contact.handle %></p></div>
    </div>
    <div></div>
  </div>
</div>
