<% content_for :banner_title do %>
  <%= fa_icon 'gears lg' %>&nbsp;Domains
    <% unless current_user.admin %>
      <span><%= @domains.count %></span>
    <% end %>
<% end %>
<!--buttons for bulk options-->
<p class="btn-container">
  <button type="button" class="btn" data-toggle="modal" data-target="#modal-editc">
    <i class="fa fa-pencil-square-o"></i>
    <span>Edit Contact Information</span>
  </button>
  <button type="button" class="btn" data-toggle="modal" data-target="#modal-brenew">
    <i class="fa fa-refresh "></i>
    <span>Bulk Renew</span>
  </button>
  <!--
  <a class="btn btn-default">
    <i class="fa fa-file-o "></i>
    <span>Export to File</span>
  </a>
  -->
</p>
<!--buttons for bulk options-->
<!--modal-->
<!--modal for edit contact-->
<div class="modal fade" id="modal-editc" tabindex="-1" role="dialog" aria-labelledby="modal-editc" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag edit_multiple_contacts_path(id: 0), method: :post do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Edit Contact Information</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label>Enter domain(s) here. Enter one domain per line or separate by space.</label>
              <%= text_area_tag :list, nil, rows: 5, class: "form-control input-lg",
                id: "bulk-edit-contact-text-area", "data-domains": @domains.map{|d| d.name} %>
            </div>
          </div>
          <!--error msg-->
          <div class="alert alert-danger" role="alert" id="bulk-contact-edit-error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            You have entered an invalid Domain. Please check.
          </div>
          <!--error msg-->
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <%= submit_tag nil, class: "btn btn-primary", id: "bulk-contact-edit-button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div>
</div>
<!--modal for bulk renew-->
<div class="modal fade" id="modal-brenew" tabindex="-1" role="dialog" aria-labelledby="modal-brenew" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag renew_multiple_domains_path(id: 0), method: :post do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Bulk Renew Domain</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label>Enter domain(s) here. Enter one domain per line or separate by space.</label>
                <%= text_area_tag :list, nil, rows: 5, class: "form-control input-lg",
                  id: "bulk-renew-term-text-area", "data-domains": @domains.map{|d| d.name} %>
              <Br>
              <label>Select renewal term</label><Br>
              <%= select_tag :renewal_term, options_for_select(["1","2","5","10"], "1"), class: "c-select col-lg-12" %>
            </div>
          </div>
          <!--error msg-->
          <div class="alert alert-danger" role="alert" id="bulk-renew-term-error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            You have entered an invalid Domain. Please check.
          </div>
          <!--error msg-->
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <%= submit_tag nil, class: "btn btn-primary", id: "bulk-renew-term-button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div>
</div>
<!--modal-->
<!--modal for renew-->
<div class="modal fade" id="modal-renew" tabindex="-1" role="dialog" aria-labelledby="modal-renew" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Renew Domain</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label>Select renewal term</label><Br>
            <select class="c-select col-lg-12" id="renew-domain-single-select">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="5">5</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= link_to "Submit", "#", "data-dismiss": "modal", class: 'renew btn btn-primary btn-renew-domain-single' %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
<!--modal-->
<div id="table">
  <table id="domains">
    <thead>
      <tr>
        <th></th>
        <th>Domain</th>
        <th>Registration Date</th>
        <th>Expiry Date</th>
        <th>Renew</th>
      </tr>
    </thead>
    <tbody>
      <% @domains.each do |domain| %>
        <% if domain.expired? %>
          <tr class="expire">
            <td><%= fa_icon 'flag', class: 'red', data: { placement: :left, toggle: :tooltip, original_title: 'Expired Domain' } %></td>
            <td class="expire"><%= link_to domain.name, domain_path(domain), data: { placement: :right, toggle: :tooltip, original_title: 'This domain has expired. You should renew it now.' } %></td>
            <td><%= formatted_date domain.registered_at %></td>
            <td><%= formatted_date domain.expires_at %></td>
            <td>
              <% if domain.renew_allowed? %>
                <a href="#" class="btn btn-renew-link" data-toggle="modal"
                  data-target="#modal-renew" data-domain=<%= domain.id %>>
                  Renew
                </a>
              <% end %>
            </td>
          </tr>
        <% elsif domain.expiring? %>
          <tr class="expire">
            <td><%= fa_icon 'flag', class: 'yellow', data: { placement: :left, toggle: :tooltip, original_title: 'Expiring Domain' } %></td>
            <td class="expire"><%= link_to domain.name, domain_path(domain), data: { placement: :right, toggle: :tooltip, original_title: 'This domain is about to expire. You should renew it now.' } %></td>
            <td><%= formatted_date domain.registered_at %></td>
            <td><%= formatted_date domain.expires_at %></td>
            <td>
              <% if domain.renew_allowed? %>
                <a href="#" class="btn btn-renew-link" data-toggle="modal"
                  data-target="#modal-renew" data-domain=<%= domain.id %>>
                  Renew
                </a>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td></td>
            <td><%= link_to domain.name, domain_path(domain) %></td>
            <td><%= formatted_date domain.registered_at %></td>
            <td><%= formatted_date domain.expires_at %></td>
            <td>
              <% if domain.renew_allowed? %>
                <a href="#" class="btn btn-renew-link" data-toggle="modal"
                  data-target="#modal-renew" data-domain=<%= domain.id %>>
                  Renew
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
