<% content_for :banner_title do %>
<%= fa_icon 'gears lg' %>&nbsp;Domains <% unless current_user.admin %><span><%= @domains.count %></span><% end %>
<% end %>

<%= flash[:message] if flash[:message] %>

<div id="table">
  <table id="domains">
    <thead>
      <tr>
        <th></th>
        <th>Domain</th>
        <th>Domain Owner</th>
        <th>Registered Date</th>
        <th>Expiry Date</th>
        <% if current_user.staff %>
          <th>Renew</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @domains.each do |domain| %>
      <% if domain.expired? %>
      <tr class="expire">
        <td><%= fa_icon 'flag', class: 'red', data: { placement: :left, toggle: :tooltip, original_title: 'Expired Domain' } %></td>
        <td class="expire"><%= link_to domain.name, domain_path(domain), data: { placement: :right, toggle: :tooltip, original_title: 'This domain has expired. You should renew it now.' } %></td>
        <td><%= domain.partner %></td>
        <td><%= formatted_date domain.registered_at %></td>
        <td><%= formatted_date domain.expires_at %></td>
        <% if current_user.staff %>
          <td>
            <%= link_to "Renew", domain_renew_path(domain.id), "data-confirm": "Are you sure you want to renew for 1 year?", class: 'renew' %>
          </td>
        <% end %>
      </tr>
      <% elsif domain.expiring? %>
      <tr class="expire">
        <td><%= fa_icon 'flag', class: 'yellow', data: { placement: :left, toggle: :tooltip, original_title: 'Expiring Domain' } %></td>
        <td class="expire"><%= link_to domain.name, domain_path(domain), data: { placement: :right, toggle: :tooltip, original_title: 'This domain is about to expire. You should renew it now.' } %></td>
        <td><%= domain.partner %></td>
        <td><%= formatted_date domain.registered_at %></td>
        <td><%= formatted_date domain.expires_at %></td>
        <% if current_user.staff %>
          <td>
            <%= link_to "Renew", domain_renew_path(domain.id), "data-confirm": "Are you sure you want to renew for 1 year?", class: 'renew' %>
          </td>
        <% end %>
      </tr>
      <% else %>
      <tr>
        <td></td>
        <td><%= link_to domain.name, domain_path(domain) %></td>
        <td><%= domain.partner %></td>
        <td><%= formatted_date domain.registered_at %></td>
        <td><%= formatted_date domain.expires_at %></td>
        <% if current_user.staff %>
          <td>
            <%= link_to "Renew", domain_renew_path(domain.id), "data-confirm": "Are you sure you want to renew for 1 year?", class: 'renew' %>
          </td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
