<% content_for :banner_title do %>
  <%= fa_icon 'file-text-o lg' %>&nbsp;Domain Info
<% end %>

<section>
  <div id="MyDomains">
    <% unless @domain.admin_handle && @domain.billing_handle && @domain.tech_handle %>
      <div class="pull-right">
        <div class="btn-add-contact">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Contact
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <% unless @domain.admin_handle %>
                  <%= link_to "Admin Contact", new_contact_path(domain_id: @domain.id, type: "admin") %>
                <% end %>
              </li>
              <li>
                <% unless @domain.billing_handle %>
                  <%= link_to "Billing Contact", new_contact_path(domain_id: @domain.id, type: "billing") %>
                <% end %>
              </li>
              <li>
                <% unless @domain.tech_handle %>
                  <%= link_to "Technical Contact", new_contact_path(domain_id: @domain.id, type: "tech") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="info-header">
      <h3><%= @domain.name %></h3>
    </div>
    <div></div>
    <div>Registered: <%= formatted_date @domain.registered_at %> | Expires: <%= formatted_date @domain.expires_at %></div>
    <hr class="line">
    <div class="contact-info-wrapper">
      <div class="title">Registrant</div>
      <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.registrant } %></div>
      <div class="button">
        <%= link_to 'Edit', contact_path(@domain.registrant.handle, d: @domain.id), id: 'edit_registrant', :class => 'btn btn-primary btn-small' %>
      </div>
    </div>

    <% if @domain.admin_handle %>
      <hr>
      <div class="contact-info-wrapper">
        <div class="title">
          <%= link_to contact_path(@domain.admin_contact.handle, d: @domain.id, type: "admin"), method: :delete, 'data-confirm': 'Are you sure you want to remove administrative contact?' do %><i class="fa fa-close"></i><% end %>
          Administrative</div>
        <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.admin_contact } %></div>
        <div class="button">
          <%= link_to 'Edit', contact_path(@domain.admin_contact.handle, d: @domain.id), id: 'edit_admin', :class => 'btn btn-primary btn-small' %>

        </div>
      </div>
    <% end %>

    <% if @domain.billing_handle %>
      <hr class="one">
      <div class="contact-info-wrapper">
        <div class="title">
          <%= link_to contact_path(@domain.billing_contact.handle, d: @domain.id, type: "billing"), method: :delete, 'data-confirm': 'Are you sure you want to remove billing contact?' do %><i class="fa fa-close"></i><% end %>
          Billing</div>
        <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.billing_contact } %></div>
        <div class="button">
          <%= link_to 'Edit', contact_path(@domain.billing_contact.handle, d: @domain.id), id: 'edit_billing', :class => 'btn btn-primary btn-small' %>
        </div>
      </div>
    <% end %>

    <% if @domain.tech_handle %>
      <hr class="one">
      <div class="contact-info-wrapper">
        <div class="title">
          <%= link_to contact_path(@domain.tech_contact.handle, d: @domain.id, type: "tech"), method: :delete, 'data-confirm': 'Are you sure you want to remove technical contact?' do %><i class="fa fa-close"></i><% end %>
          Technical</div>
        <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.tech_contact } %></div>
        <div class="button">
          <%= link_to 'Edit', contact_path(@domain.tech_contact.handle, d: @domain.id), id: 'edit_tech',
            :class => 'btn btn-primary btn-small' %>
        </div>
      </div>
    <% end %>

    <hr class="line">

    <div class="contact-info-wrapper">
      <div class="title">Nameservers</div>
      <div class="contact-info">
        <% unless @domain.hosts.empty? %>
          <!--table ns-->
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th width="10"></th>
                <th width="200">Nameserver</th>
                <th>IP Address</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @domain.hosts.each do |domain_host| %>
                  <tr>
                    <td>
                      <%= link_to domain_host_path(@domain.name, domain_host.name), method: :delete, 'data-confirm': 'Are you sure you want to remove this nameserver?' do %><i class="fa fa-close"></i>
                      <% end %>
                    </td>
                    <td><%= domain_host.name %></td>
                    <td><%= domain_host.name %> IP ADDRESS</td>
                    <td>
                      <%= link_to edit_domain_host_path(id: domain_host.id, domain_id: @domain.id) do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>

        <% else %>
          <p>No Nameservers</p>
        <% end %>
      </div>
      <div class="btn-add-ns">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'Add Own Nameservers', domain_hosts_path(@domain.id), id: :add_domain_host, class: '' %></li>
            <li><%= link_to 'Add Partner Nameservers', add_default_nameserver_path(id: @domain.id), class: '' %></li>
            <li><%= link_to 'Add DotPH Nameservers', add_default_nameserver_path(id: @domain.id, dotph_default: true), class: '' %></li>
          </ul>
        </div>
      </div>
    </div>

    <% if @domain.matched_nameserver? @nameservers %>
      <%= render "dns_records" %>
    <% end %>

    <hr class="line">

    <div class="contact-info-wrapper">
      <div class="title">Domain Activities</div>
      <div class="contact-info">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="col-lg-5">Date</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @domain.activities.each do |activity| %>
            <tr>
              <td><%= formatted_timestamp activity.activity_at %></td>
              <td><%= activity_description(activity).html_safe %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
