<% content_for :banner_title do %>
<%= fa_icon 'gears lg' %>&nbsp;Domains
<% end %>
<% if @show_edit %>
  <span id="showEdit" />
<% end %>

<section>
  <div id="MyDomains">
    <div class="pull-right">
      <span class="text-danger"></span>
    </div>
    <div class="info-header">
      <h3>
        <%= link_to domains_path, :class => 'btn btn-default btn-xs back-btn' do %>
          <i class="fa fa-chevron-left"></i>
        <% end %> <%= @domain.name %>
      </h3>
    </div>
    <div class=" "></div>
    <span class="sr-only"><strong>Domain Status:</strong> Active</span>
    <div id="dom-reg-date">Creation Date: <%= formatted_date @domain.registered_at %></div>
    <div id="dom-exp-date">Expiration Date: <%= formatted_date @domain.expires_at %></div>
    <div><br></div>

    <ul id="tab-list" class="dm" role="tablist">
      <li class="active"><a href="#info" role="tab" data-toggle="tab">Domain Info</a></li>
      <li><a href="#nameservers" role="tab" data-toggle="tab">Nameservers</a></li>
      <li><a href="#domain_activity" role="tab" data-toggle="tab">Domain Activity</a></li>
    </ul>
    <div class="tab-content">
      <!--domain info-->
      <div class="active" id="info"><!-- tab-pane -->
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="domain-info-tab" role="tablist">
          <li role="presentation" class="active"><a href="#registrant-contact" aria-controls="registrant-contact" role="tab" data-toggle="tab">Registrant Contact</a></li>
           <li role="presentation"><a href="#admin-contact" aria-controls="admin-contact" role="tab" data-toggle="tab">Admin Contact</a></li>
          <li role="presentation"><a href="#billing-contact" aria-controls="billing-contact" role="tab" data-toggle="tab">Billing Contact</a></li>
          <li role="presentation"><a href="#technical-contact" aria-controls="technical-contact" role="tab" data-toggle="tab">Technical Contact</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" id="domain-info-tab-content">
          <div role="tabpanel" class="tab-pane active" id="registrant-contact">
            <% if current_user.staff %>
              <a onclick="showEditContact()" class="btn btn-sm btn-secondary"><%= fa_icon 'pencil' %> &nbsp;Edit Contact Details</a>
              <br><br>
            <% end %>
            <%= render partial: 'domains/domain_contact', locals: { contact: @registrant } %>
            <% if current_user.staff %>
            <br>
              <a onclick="showEditContact()" class="btn btn-sm btn-secondary"><%= fa_icon 'pencil' %> &nbsp;Edit Contact Details</a>
            <% end %>
          </div>
          <% if current_user.staff %>
            <div role="tabpanel" class="tab-pane" id="registrant-contact-edit">

              <a onclick="hideEditContact()" class="btn btn-sm btn-danger"><%= fa_icon 'ban' %> &nbsp;Cancel</a>
              <br> <br>
              <%= render partial: 'domains/domain_contact_edit', locals: { contact: @registrant } %>

            </div>
          <% end %>
          <div role="tabpanel" class="tab-pane" id="admin-contact">
            <%= render partial: 'domains/domain_contact', locals: { contact: @domain.admin_contact } %>
          </div>
          <div role="tabpanel" class="tab-pane" id="billing-contact">
            <%= render partial: 'domains/domain_contact', locals: { contact: @domain.billing_contact } %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tech-contact">
            <%= render partial: 'domains/domain_contact', locals: { contact: @domain.tech_contact } %>
          </div>
        </div>
      </div>
      <!--domain info-->
      <!--nameservers-->
      <div id="nameservers"><!-- tab-pane -->
        <h5>Nameservers</h5>
        <hr>
        <table id="domain_hosts">
          <thead>
            <tr>
              <th>Nameserver</th>
              <th class="text-right">
                <% if current_user.staff %>
                  Delete
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @domain.hosts.each do |host| %>
            <tr>
              <td><%= host.name %></td>
              <td class="text-right">
                <% if current_user.staff %>
                  <%= link_to domain_host_path(@domain.id, host.name), method: :delete, :class => 'btn btn-xs btn-danger' do %>
                  <%= fa_icon 'trash' %>
                <% end %>
                <%end%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% if current_user.staff %>
        <div id="create-dom-host">
          <%= simple_form_for @nameserver, url: domain_hosts_path(@domain.id) do |f| %>
            <%= f.text_field :name %>
            <%= f.submit %>
          <% end %>
        </div>
        <% end %>
      </div>
      <!--name servers-->
      <!--domain activity-->
      <div id="domain_activity"><!-- tab-pane -->
        <h5>Domain Activity</h5>
        <hr>
        <div>
          <div>
            <table id="domain_activities">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <% @domain.activities.each do |activity| %>
                <tr>
                  <td><%= formatted_timestamp activity.activity_at %></td>
                  <td><%= activity_description(activity).html_safe %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <br>
        </div>
      </div>
      <!--domain activity-->
    </div>
  </div>
</div>
