<% content_for :banner_title do %>
  <%= fa_icon 'gears lg' %>&nbsp;Domains
<% end %>

<section>
  <div id="MyDomains">
    <div class="pull-right">
      <span class="text-danger"></span>
    </div>
    <div class="info-header">
      <h3><%= @domain.name %></h3>
    </div>
    <div></div>
    <div>Registered: <%= formatted_date @domain.registered_at %> | Expires: <%= formatted_date @domain.expires_at %></div>
    <br>
    <hr class="line">
    <div class="contact-info-wrapper">
      <div class="title">Registrant</div>
      <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.registrant } %></div>
      <div class="button">
        <%= link_to 'Edit', contact_path(@domain.registrant.handle, d: @domain.id), id: 'edit_registrant', :class => 'btn btn-primary btn-small' %>
      </div>
    </div>

    <% if @domain.admin_handle %>
      <hr>
      <div class="contact-info-wrapper">
        <div class="title">Administrative</div>
        <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.admin_contact } %></div>
        <div class="button">
          <%= link_to 'Edit', contact_path(@domain.admin_contact.handle, d: @domain.id), id: 'edit_admin', :class => 'btn btn-primary btn-small' %>
        </div>
      </div>
    <% end %>

    <% if @domain.billing_handle %>
      <hr class="one">
      <div class="contact-info-wrapper">
        <div class="title">Billing</div>
        <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.billing_contact } %></div>
        <div class="button">
          <%= link_to 'Edit', contact_path(@domain.billing_contact.handle, d: @domain.id), id: 'edit_billing', :class => 'btn btn-primary btn-small' %>
        </div>
      </div>
    <% end %>

    <% if @domain.tech_handle %>
      <hr class="one">
      <div class="contact-info-wrapper">
        <div class="title">Technical</div>
        <div class="contact-info"><%= render partial: 'domains/domain_contact', locals: { contact: @domain.tech_contact } %></div>
        <div class="button">
          <%= link_to 'Edit', contact_path(@domain.tech_contact.handle, d: @domain.id), id: 'edit_tech', :class => 'btn btn-primary btn-small' %>
        </div>
      </div>
    <% end %>

    <hr class="line">

    <div class="contact-info-wrapper">
      <div class="title">Nameservers</div>
      <div class="contact-info">
        <% unless @domain.hosts.empty? %>
          <ul id="domain_hosts" class="list-unstyled">
            <% @domain.hosts.each do |domain_host| %>
            <li>
              <%= link_to domain_host_path(@domain.name, domain_host.name), method: :delete, 'data-confirm': 'Are you sure you want to remove this nameserver?' do %><i class="fa fa-close"></i><% end %> <%= domain_host.name %>
            </li>
            <% end %>
          </ul>
        <% else %>
          <p>No Nameservers</p>
        <% end %>
      </div>
      <div class="button">
        <%= link_to 'Add', domain_hosts_path(@domain.id), id: :add_domain_host, class: 'btn btn-success btn-small' %>
      </div>
    </div>
    
    <% if @domain.matched_nameserver? @nameservers %>
      <%= render "dns_records" %>
    <% end %>

    <hr class="line">

    <div class="contact-info-wrapper">
      <div class="title">Domain Activities</div>
      <div class="contact-info2">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="col-lg-5">Date</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <% @domain.activities.each do |activity| %>
            <tr>
              <td><%= formatted_timestamp activity.activity_at %></td>
              <td><%= activity_description(activity).html_safe %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
