<% content_for :banner_title do %>
<%= fa_icon 'gears lg' %>&nbsp;Domains
<% end %>

<h3><%= @domain.name %></h3>

Registered: <%= formatted_date @domain.registered_at %><br>
Expires:    <%= formatted_date @domain.expires_at %>

<h4>Registrant</h4>
<%= render partial: 'domains/domain_contact', locals: { contact: @domain.registrant } %>

<% if @domain.admin_handle %>
<h4>Admin Contact</h4>
<%= render partial: 'domains/domain_contact', locals: { contact: @domain.admin_contact } %>
<% end %>

<% if @domain.billing_handle %>
<h4>Billing Contact</h4>
<%= render partial: 'domains/domain_contact', locals: { contact: @domain.billing_contact } %>
<% end %>

<% if @domain.tech_handle %>
<h4>Tech Contact</h4>
<%= render partial: 'domains/domain_contact', locals: { contact: @domain.tech_contact } %>
<% end %>

<h4>Nameservers</h4>
<% unless @domain.hosts.empty? %>
<ul>
  <% @domain.hosts.each do |domain_host| %>
  <li><%= domain_host.name %></li>
  <% end %>
</ul>
<% else %>
No Nameservers
<% end %>

<h4>Domain Activity</h4>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @domain.activities.each do |activity| %>
    <tr>
      <td><%= formatted_timestamp activity.activity_at %></td>
      <td><%= activity_description(activity).html_safe %></td>
    </tr>
    <% end %>
  </tbody>
</table>
