<% content_for :banner_title do %>
  <%= fa_icon 'pencil lg' %>&nbsp;Edit DNS Record
<% end %>

<h3 class="text-primary"><%= @domain_name %></h3>

<%= simple_form_for @pdns_record,
  url: powerdns_record_path(id: @pdns_record.id, domain_id: @domain_id),
  html: {method: :patch} do |f| %>
  <% if @pdns_record.errors.any? %>
    <div id="warning" class="alert alert-warning">
      Some information is missing or incorrect.  Please check your entries and try again.
    </div>
  <% end %>
  <div id="nameserver-info">
    <div>
      <label>Type</label>
      <div>
        <%= f.input :type, label: false, class: "form-control",
          collection: [:NS, :A, :AAAA, :MX, :CNAME, :TXT, :SRV] %>
      </div>
    </div>
    <div>
      <label>Name</label>
      <div>
        <%= f.input :name, label: false, class: "form-control" %>
      </div>
    </div>
    <div>
      <label>Priority</label>
      <div>
        <%= f.input :prio, label: false, as: :numeric, class: "form-control" %>
      </div>
    </div>
    <div class="non-srv-fields">
      <label>Content</label>
      <div>
        <%= f.input :content, label: false, class: "form-control" %>
      </div>
    </div>
    <div class="srv-fields">
      <%= f.simple_fields_for :preferences do |preference| %>
        <label>Weight</label>
        <div>
          <%= preference.input :weight, label: false, as: :numeric, class: "form-control",
            input_html: {value: @pdns_record.preferences[:weight]} %>
        </div>
        <label>Port</label>
        <div>
          <%= preference.input :port, label: false, as: :numeric, class: "form-control",
            input_html: {value: @pdns_record.preferences[:port]} %>
        </div>
        <label>Content</label>
        <div>
          <%= preference.input :srv_content, label: false, class: "form-control",
            input_html: {value: @pdns_record.preferences[:srv_content]} %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="edit-update">
    <%= f.submit 'Update DNS Record' %>
    <%= link_to 'Cancel', domain_url(@domain_id)%>
  </div>
<% end %>
