<%= simple_form_for @registration, url: register_summary_path do |f| %>
  <%= f.hidden_field :domain_name,  value: @registration.domain_name %>
  <%= f.hidden_field :period,       value: @registration.period %>
  <%= f.hidden_field :handle,       value: @registration.handle %>

  <h3 id="head">Domain details for <span class="text-primary"><%= @registration.domain_name %></span> <%= fa_icon 'check-circle', :class=>"green" %></h3>
  <br>
  <table id="domain_info_summary">
    <thead>
      <th width="30%" >&nbsp;</th>
      <th width="70%">&nbsp;</th>
    </thead>
    <tbody>
      <tr>
        <td>Domain Name</td>
        <td><%= @registration.domain_name %></td>
      </tr>
      <tr>
        <td>Registration Period</td>
        <td><%= @registration.period %></td>
      </tr>
      <tr>
        <td>Name of Registrant</td>
        <td><%= @registration.local_name %></td>
      </tr>
      <tr>
        <td>Organization</td>
        <td><%= @registration.local_organization %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <%= link_to 'Go Back', register_details_path(domain_name: @registration.domain_name, period: @registration.period, handle: @registration.registrant.handle), id: :cancel , :class => "btn btn-default" %>
  <%= f.submit "Create Registration Form", class: "btn btn-secondary" %>
  
<% end %>
