<% content_for :banner_title do %>
<%= fa_icon 'pencil-square-o lg' %>&nbsp;Register Domain
<% end %>

<div id="domain_info">
  <h3 id="head">Summary: <span class="text-primary"><%= @registration.domain_name %></span> <%= fa_icon 'check-circle', :class=>"green" %></h3>

  <%= simple_form_for @registration, url: register_summary_path do |f| %>
    <%= f.hidden_field :domain_name,  value: @registration.domain_name %>
    <%= f.hidden_field :period,       value: @registration.period %>
    <%= f.hidden_field :handle,       value: @registration.handle %>
    <%= hidden_field_tag(:bulk_registration, @bulk_registration) %>
    <div id="new-info" class="new-info-summary">
      <div>
        <label><%= fa_icon 'calendar-o' %> Registration Period</label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.period %> years</span></div>
        </div>
      </div>
      <hr>
      <div>
        <label><%= fa_icon 'user' %> Name</label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_name %></span></div>
        </div>
      </div>
      <div>
        <label><%= fa_icon 'users' %> Organization</label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_organization %></span></div>
        </div>
      </div>
      <div>
        <label><%= fa_icon 'home' %> Street</label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_street %></span></div>
        </div>
      </div>
      <% if @registration.local_street2 %>
        <div>
          <label class="hidden-xs">&nbsp;</label>
          <div class="inputfield">
            <div><span class="string"><%= @registration.local_street2 %></span></div>
          </div>
        </div>
      <% end %>
      <% if @registration.local_street3 %>
        <div>
          <label class="hidden-xs">&nbsp;</label>
          <div class="inputfield">
            <div><span class="string"><%= @registration.local_street3 %></span></div>
          </div>
        </div>
      <% end %>
      <div>
        <label><span>City</span></label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_city %></span></div>
        </div>
      </div>
      <div>
        <label><span>State/Province</span></label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_state %></span></div>
        </div>
      </div>
      <div>
        <label><span>Postal Code</span></label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_postal_code %></span></div>
        </div>
      </div>
      <div>
        <label><span>Country</span></label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.local_country_name %></span></div>
        </div>
      </div>
      <div>
        <label><%= fa_icon 'phone-square' %> Telephone</label>
        <div class="inputfield">
          <div>
            <span class="string"><%= @registration.voice %>&nbsp;</span>
            <% unless @registration.voice_ext.blank? %>
              <span class="text-muted">ext.</span>
              <span class="string"><%= @registration.voice_ext %>&nbsp;</span>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <label><%= fa_icon 'fax' %> Fax</label>
        <div class="inputfield">
          <div>
            <span class="string"><%= @registration.fax %>&nbsp;</span>
            <% unless @registration.fax_ext.blank? %>
              <span class="text-muted">ext.</span>
              <span class="string"><%= @registration.fax_ext %>&nbsp;</span>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <label><%= fa_icon 'envelope' %> Email</label>
        <div class="inputfield">
          <div><span class="string"><%= @registration.email %></span></div>
        </div>
      </div>
      <hr>
      <div class="domain-info-ns">
        <label><%= fa_icon 'server' %> Name Servers </label>
        <div class="inputfield">
          <div>
            <% unless @partner.default_nameservers.empty? %>
              <% @partner.default_nameservers.each do |default_nameserver| %>
                <%= default_nameserver.name %>
              <% end %>
            <% else %>
              No default name servers.  Domain will be registered but inactive.
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <br />

    <%= link_to 'Go Back', register_details_path(domain_name: @registration.domain_name, period: @registration.period, handle: @registration.registrant.handle), id: :cancel , class: 'btn btn-default' %>
    <%= f.submit 'Register Domain', class: "btn btn-secondary" %>
    <% end %>
  </div>
