<div id="partnerNsTableForm">
  <div id="partnerNsTableBodyForm">
    <%= form_tag new_profile_partner_name_server_path, class: "new_profile_partner_name_server_form",
      id: "new_profile_partner_name_server_form", remote: true do %>
      <% @current_partner_nameservers.each_with_index do |nameserver, index| %>
        <div class=<%= "partner_ns_#{index}_tr" %>>
          <div class="form-group">
            <div class="col-md-11">
              <%= text_field_tag "partner_ns[#{index}]", nameserver, id: "partner_ns_#{index}",
                placeholder: "Enter Nameserver", class: "form-control partner-config-ns" %>
            </div>
            <div class="col-md-1">
              <a class='btn btn-default btn-sm btn-remove-partner-nameserver'>
                <i class='fa fa-close' style="margin-top: 0px;"></i>
                <span class='sr-only'>Delete</span>
              </a>
            </div>
            <br/><br/>
          </div>
        </div>
      <% end %>
      <div class="add-partner-default-ns"></div>
      <div class="pull-left" >
        &nbsp;
        <a class="btn btn-link btn-sm" id="plusNSLink">
          <i class="fa fa-plus"></i>
          <span class="">Add More Name Server</span>
        </a>
      </div>
      <div class="pull-right" style="margin-top: 0px;">
        <%= button_tag "Update", class: 'btn btn-success btn-sm', id: "submitNsBtn" %>
        <%= link_to "Cancel", profile_index_path, id: "cancelNsBtn", class: "btn btn-danger btn-sm", remote: true %>
      </div>
    <% end %>
  </div>
</div>
