<tr data-toggle="collapse" data-target="#order_details_<%= order.id%>" class="clickable report_order_rows">
  <td><%= formatted_timestamp order.ordered_at %></td>
  <td><%= order.order_number %></td>
  <td colspan="3" style="text-align: left;">Multiple Transactions(click for details)</td>
  <td><%= number_to_currency(order.order_details.map{|od| od.price}.sum) %></td>
</tr>
<tr>
  <td colspan="6">
    <div id="order_details_<%= order.id%>" class="collapse">
      <table id="orders" class="well">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Type</th>
            <th width="50">Term</th>
            <th>Amount ($)</th>
          </tr>
        </thead>
        <tbody>
          <% order.order_details.each do |order_detail| %>
            <tr>
              <td style="text-align: left"><%= order_detail.domain %></td>
              <td style="text-align: left"><%= order_detail_type order_detail.type %></td>
              <td><%= order_detail.period %></td>
              <td><%= number_to_currency(order_detail.price) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </td>
</tr>
