<% content_for :banner_title do %>
<%= fa_icon 'file-text lg' %>&nbsp;Reports
<% end %>

<div id="table">
  <% total_credits = 0 %>
  <% total_orders = 0 %>

  <% unless @credits.empty? %>
  <h3>Credit History</h3>

  <table id="credits">
    <thead>
      <tr>
        <th>Date</th>
        <th>Invoice No.</th>
        <th>Type</th>
        <th>Amount ($)</th>
      </tr>
    </thead>
    <tbody>
      <% @credits.each do |credit| %>
      <tr>
        <td><%= formatted_timestamp credit.credited_at %></td>
        <td>
          <a href="/receipt?id=<%= credit.credit_number %>" target="_blank">
            <%= credit.credit_number %>
          </a>
        </td>
        <td>Replenish Credits</td>
        <td><%= number_to_currency(credit.amount.to_f, unit: '') %></td>
      </tr>
      <% total_credits = total_credits + credit.amount.to_f %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td><%= number_to_currency total_credits %></td>
      </tr>
    </tfoot>
  </table>
  <% end %>

  <% unless @orders.empty? %>
  <h3>Transactions</h3>

  <table id="orders">
    <thead>
      <tr>
        <th>Date</th>
        <th>Order No.</th>
        <th>Type</th>
        <th>Term</th>
        <th>Domain</th>
        <th>Amount ($)</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= formatted_timestamp order.ordered_at %></td>
        <td><a href="invoice/month" target="_blank"><%= order.order_number %></a></td>
        <td><%= order_detail_type order.type %></td>
        <td><%= order.period %></td>
        <td><%= order.domain %></td>
        <td><%= number_to_currency(order.price) %></td>
      </tr>
      <% total_orders = total_orders + order.total_price %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency total_orders %></td>
      </tr>
    </tfoot>
  </table>
  <% end %>

  <table id="remaining_balance">
    <tbody>
      <tr>
        <th>Remaining Balance</th>
        <th><%= number_to_currency(total_credits - total_orders) %></th>
      </tr>
    </tbody>
  </table>
</div>
