<% content_for :banner_title do %>
<%= fa_icon 'file-text lg' %>&nbsp;Reports
<% end %>

<div id="table" class="page">
  <% total_credits = 0 %>
  <% total_orders = 0 %>
  <% all_credits = 0 %>
  <% all_orders = 0 %>
  <div class="pull-right"><a class="btn btn-default btn-sm" href="javascript:window.print()">Print Reports</a></div>
  <p>
    <%= select_month(@date_display, {}, class: "c-select report-filter-options") %>
    <%= select_year(@date_display, {start_year: Date.today.year, end_year: Date.today.year - 15},
      class: "c-select report-filter-options") %>
    <%= link_to "GO", "", class: "btn btn-primary report-filter-button" %>
  </p>



  <% unless @credits.empty? %>
  <h3>Credit History</h3>
  <div class="table-responsive">
    <table id="credits" class="well">
      <thead>
        <tr>
          <th>Date</th>
          <th>Invoice No.</th>
          <th>Type</th>
          <th>Amount ($)</th>
        </tr>
      </thead>
      <tbody>
        <% @credits.each do |credit| %>
          <% if credit.filter_included? @month, @year %>
            <tr>
              <td><%= formatted_timestamp credit.credited_at %></td>
              <td>
                <a href="/receipt?id=<%= credit.credit_number %>" target="_blank">
                  <%= credit.credit_number %>
                </a>
              </td>
              <td><%= credit.gateway %></td>
              <td><%= number_to_currency(credit.amount.to_f, unit: '') %></td>
            </tr>
            <% total_credits = total_credits + credit.amount.to_f %>
          <% end %>
          <% all_credits = all_credits + credit.amount.to_f %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td></td>
          <td><%= number_to_currency total_credits %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <% end %>

  <% unless @orders.empty? %>
  <h3>Transactions</h3>
  <div class="table-responsive">
    <table id="orders" class="well table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Order No.</th>
          <th>Amount ($)</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <% if order.filter_included? @month, @year %>
            <tr data-toggle="collapse" data-target="#order_details_<%= order.id%>" class="clickable report_order_rows">
              <td><%= formatted_timestamp order.ordered_at %></td>
              <td><%= order.order_number %></td>
              <td><%= number_to_currency(order.order_details.map{|od| od.price}.sum) %></td>
            </tr>
            <tr>
              <td colspan="3">
                <div id="order_details_<%= order.id%>" class="collapse">
                  <table id="orders" class="well">
                    <thead>
                      <tr>
                        <th>Domain</th>
                        <th>Type</th>
                        <th width="50">Term</th>
                        <th>Amount ($)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% order.order_details.each do |order_detail| %>
                        <tr>
                          <td style="text-align: left"><%= order_detail.domain %></td>
                          <td style="text-align: left"><%= order_detail_type order_detail.type %></td>
                          <td><%= order_detail.period %></td>
                          <td><%= number_to_currency(order_detail.price) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            <% total_orders = total_orders + order.total_price %>
          <% end %>
          <% all_orders = all_orders + order.total_price %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td><%= number_to_currency total_orders %></td>
        </tr>
      </tfoot>
    </table>
  </div>
  <% end %>

  <table id="remaining_balance">
    <tbody>
      <tr>
        <th>Remaining Balance</th>
        <th><%= number_to_currency(all_credits - all_orders) %></th>
      </tr>
    </tbody>
  </table>
</div>
