<!DOCTYPE html>
<html lang="en" >
  <head>
    <%= render partial: 'shared/head' %>
  </head>
  <body>
    <header>
      <%= render partial: 'shared/header' %>
    </header>

    <main role="main" class="container">
      <div id="alert">
        <% if notice %>
        <div class="alert alert-warning" role="alert">
          <%= notice %>
        </div>
        <% end %>

        <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
        <% end %>
      </div>
      <%= yield %>
    </main>

    <footer class="footer">
      <%= render partial: 'shared/footer' %>
    </footer>

    <script type="text/javascript">
+    $(function () {
+      $('[data-toggle="tooltip"]').tooltip()
+    })
+    </script>
  </body>
</html>
