<!DOCTYPE html>
<html lang="en" >
<head>
  <%= render partial: 'shared/head' %>
</head>
<body>
  <header>
    <%= render partial: 'shared/header' %>
  </header>

  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-12">
        <% if notice %>
        <div id="notice" class="alert alert-success" role="alert">
          <%= notice %>
        </div>
        <% end %>

        <% if alert %>
        <div id="alert" class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </main>

  <footer class="footer">
    <%= render partial: 'shared/footer' %>
  </footer>

  <script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
</body>
</html>
